@import '../../base';
@import '../../fonts';
@import '../../exomag';


/*
div.app-layout {
    flex-grow: 1;
}
*/






div#page-layout {
    flex: 1;
    display: flex;
    flex-flow: column;
}


main.page-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    /* padding: 12px; */
    padding: 0px;
    position: relative;

    // background-color: #F0F0F0;
    background-color: $CONTENT_BGCOLOR;

    padding: 10px;
}







/* font-size: 1.5rem; */








/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/ 