
@import '../../base';

div#page-layout > div.page-footer {
    background-color: $BGCOLOR_A;
    flex: 0;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

    border-top: 2px solid $HEADER_OUTER_BORDER_COLOR;

    z-index: 20;
}