
@import '../base';



/* hack.. muss woanders richtig definiert werden */
.MuiDialogContent-root {
    padding: 0px !important;
}



div.abc {
    background-color: $BGCOLOR_A;
    position: absolute;
    top: 0px;
    left: 200px;
    height:32px;
    width: 500px;
}


main.page-content > div.grid-container {
    height: 100%;

    padding: 10px;

    & div.ag-root-wrapper {
        border: none;
        border-radius: 4px;
        // border: 1px solid rgba(0,0,0,0.4);
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    /*
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #AAA;
    */
}














/* ENUM CELL VALUES */

div.ag-theme-alpine-modified div.enum-value-renderer > span.enum-value {

    border-radius: 3px; 
    padding: 2px 5px;
    font-weight: bold;

    // border: 1px dashed rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.15);
    

    /*
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 4px;
    font-weight: bold;

    // border-radius: 2px;
    // padding: 1.3px 2.5px;
    // font-weight: bold;
    // margin-right: 4px;

    // border: 1px solid rgba(0,0,0,0.1);
    // background-color: rgba(0,0,0,0.1);

    color: white;

    border: 1px solid rgba(0,0,0,0.45);

    // background-color: rgba(0,0,0,0.35);
    // background-color: #796465;
    // background-color: #6A2E35;
    // background-color: #556F44;
    // background-color: #344966;
    // background-color: #B4CDED;
    // background-color: #276FBF;
    // background-color: #364156;
    // background-color: #087E8B;
    // background-color: #84ace1;
    background-color: #5b91d7;
    */


}

div.ag-theme-alpine-modified div.enum-value-renderer > span.enum-value:last-child {
    margin-right: 0px;
}




/* genomic position */


div.ag-theme-alpine-modified span.cell_value_genomic_position {

    * {
        margin-right: 4px;
        border-radius: 3px; 
        padding: 2px 5px;
        font-weight: bold;
        border: 1px dashed rgba(0,0,0,0.3);
        background-color: rgba(0,0,0,0.15);
    }

    *:last-child {
        margin-right: 0px;
    }

    span.separator {
        display: none;
    }

    span.build {
        color: #004E64;
    }


    span.chr {
        color: #004E64;
    }

    span.pos {
        color:#5E0035;
    }

    span.ref {
        color: #388659;
    }
    
    span.alt {
        color: #388659;
    }


}

div.ag-theme-alpine-modified div.ag-row.expanded span.cell_value_genomic_position {

    * {
        color: white;
    }

    span.build {
    }

    span.chr {
        
    }

    span.pos {
    }

    span.ref {
    }
    
    span.alt {
    }

}






/* ACMG Class */

div.ag-theme-alpine-modified div.enum-value-renderer.COLUMN_acmgClass > span.enum-value {

    color: white;

    &.VALUE-benign {
        background-color: rgb(7, 100, 24);
    }

    &.VALUE-likelybenign {
        background-color: rgb(80, 168, 56);
    }

    &.VALUE-unclear {
        background-color: rgb(255, 171, 69);
    }

    &.VALUE-likelypathogenic {
        background-color: rgb(235, 91, 43);
    }

    &.VALUE-pathogenic {
        background-color: rgb(199, 7, 0);
    }
}



/* ACMG Criteria */

div.ag-theme-alpine-modified div.enum-value-renderer.COLUMN_acmgCriteria > span.enum-value {
    
    margin-right: 4px;

    &:last-child {
        margin-right: 4px;
    }

    &.VALUE-nospecificationpossible {
        // background: rgba(0,0,0,0.1);
        // border-color: rgba(0,0,0,0.1);

        /*
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.15);
        background-color: rgba(0,0,0,0.1);
        */

        
        // color: white;

    
    }

    &.VALUE-PVS1 {
        background-color: rgb(199, 7, 0);
    }

    &.VALUE-PS1,
    &.VALUE-PS2,
    &.VALUE-PS3,
    &.VALUE-PS4 {
        background-color: rgb(217, 49, 21);
    }

    &.VALUE-PM1,
    &.VALUE-PM2,
    &.VALUE-PM3,
    &.VALUE-PM4,
    &.VALUE-PM5,
    &.VALUE-PM6 {
        background-color: rgb(235, 91, 43);
    }

    &.VALUE-PP1,
    &.VALUE-PP2,
    &.VALUE-PP3,
    &.VALUE-PP4,
    &.VALUE-PP5 {
        background-color: rgb(253, 133, 64);
    }

    &.VALUE-BP1,
    &.VALUE-BP2,
    &.VALUE-BP3,
    &.VALUE-BP4,
    &.VALUE-BP5,
    &.VALUE-BP6,
    &.VALUE-BP7 {
        background-color: rgb(80, 168, 56);
    }

    &.VALUE-BS1,
    &.VALUE-BS2,
    &.VALUE-BS3,
    &.VALUE-BS4 {
        background-color: rgb(37, 136, 49);
    }

    &.VALUE-BA1 {
        background-color: rgb(7, 100, 24);
    }

    // in varsome gibt es noch eine sehr hellgrüne farbe: rgb(115, 195, 111)
    // ist aber nicht klar, was diese farbe kodiert

    /*

    &.VALUE-PVS1,
    &.VALUE-PP5 {
        // background-color: rgb(199, 7, 0);
    }

    &.VALUE-PS1,
    &.VALUE-PS2,
    &.VALUE-PS3,
    &.VALUE-PS4,
    &.VALUE-PM1,
    &.VALUE-PM5,
    &.VALUE-PP3 {
    }

    &.VALUE-PM3,
    &.VALUE-PM4,
    &.VALUE-PM6 {
    }

    &.VALUE-PM2,
    &.VALUE-PP1,
    &.VALUE-PP2,
    &.VALUE-PP4 {

    }
    
    &.VALUE-BP1,
    &.VALUE-BP2,
    &.VALUE-BP3,
    &.VALUE-BP4,
    &.VALUE-BP5,
    &.VALUE-BP6 {

    }

    &.VALUE-BS1,
    &.VALUE-BS2,
    &.VALUE-BS3,
    &.VALUE-BS4 {
        rgb(80, 168, 56)
    }

    &.VALUE-BA1 {
        background-color: rgb(7, 100, 24);
    }

    */

}











/*
    PVS1    pathogenic very strong          ganz dunkles rot (very strong)

    PS1     pathogenic strong               dunkles rot in varsome (strong)
    PS2     pathogenic strong               dunkles rot in varsome (strong)
    PS3     pathogenic strong               dunkles rot in varsome (strong)
    PS4     pathogenic strong               dunkles rot in varsome (strong)

    PM1     pathogenic moderate             dunkles rot (strong)
    PM2     pathogenic moderate             helles orange (supporting)
    PM3     pathogenic moderate             dunkles orange (moderate)
    PM4     pathogenic moderate             dunkles orange (moderate)
    PM5     pathogenic moderate             dunkles rot (strong)
    PM6     pathogenic moderate             dunkles orange (moderate)

    PP1     pathogenic supporting           helles orange (supporting)
    PP2     pathogenic supporting           helles orange (supporting)
    PP3     pathogenic supporting           dunkles rot (strong)
    PP4     pathogenic supporting           helles orange (supporting)
    PP5     pathogenic supporting           ganz dunkles rot (very strong, WIESO?)

    BP1     benign supporting           alle die gleiche farbe bei varsome (das leichte grün)
    BP2     benign supporting
    BP3     benign supporting
    BP4     benign supporting
    BP5     benign supporting
    BP6     benign supporting
    BP7     benign supporting

    BS1     benign strong               alle die gleiche farbe bei varsome (das dunklere grün)
    BS2     benign strong
    BS3     benign strong
    BS4     benign strong

    BA1     benign stand alone (das höchste level an benign)           das ganz dunkle grün





    PVS1

    PS1
    PS2
    PS3
    PS4

    PM1
    PM2
    PM3
    PM4
    PM5
    PM6

    PP1
    PP2
    PP3
    PP4
    PP5

    BP1
    BP2
    BP3
    BP4
    BP5
    BP6
    BP7

    BS1
    BS2
    BS3
    BS4

    BA1

*/









div.variant-links {
    display: flex;
    flex-flow: row;
    height: 40px;
    align-items: center;

    & > * {
        margin-left: 8px;
    }

    & > *:first-of-type {
        margin-left: 0px;
    }
}









div.ag-row {

    & > div.test-alex {
        width: 100%;
        border: 1px solid red;
        top: 10px;
    }


}










