
// $BGCOLOR_A: #ABC;
// $BGCOLOR_A: #c6d8d3;
// $BGCOLOR_A: #4c956c;
// $BGCOLOR_A: #2C6E49;
// $BGCOLOR_A: #A4C3B2;
// $BGCOLOR_A: #9DC7C8;
// $BGCOLOR_A: #124E78;


// $BGCOLOR_A: #D72638;
// $BGCOLOR_A: #8F95D3;
// $BGCOLOR_A: #6C756B;
// $BGCOLOR_A: #D57A66;
// $BGCOLOR_A: #16324F;
// $BGCOLOR_A: #2A628F;
// $BGCOLOR_A: #183059;
// $BGCOLOR_A: #3E885B;
// $BGCOLOR_A: #7DAF9C;

// $BGCOLOR_A: #12355B;
// $BGCOLOR_A: #6B9080;
// $BGCOLOR_A: #748386;
// $BGCOLOR_A: #93A3B1;
$BGCOLOR_A: #93ACB5;

$CONTENT_BGCOLOR: #F0F0F0;

$HEADER_OUTER_BORDER_COLOR: #888;
$HEADER_INNER_BORDER_COLOR: #BBB;

$TOOLBAR_BG_COLOR: #CCC;



// HGQN
// $BGCOLOR_A: #6A8EAF;

// // $CONTENT_BGCOLOR: #EEF4F9;
// $CONTENT_BGCOLOR: #ABC;

// $HEADER_OUTER_BORDER_COLOR: #999;
// $HEADER_INNER_BORDER_COLOR: #999;

// $TOOLBAR_BG_COLOR: #EEE;

