// #EEF4F9
// #CFD9E5
// #B4C2D2
// #8AAAC7
// #6A8EAF
// #44719D

$BGCOLOR_A: #8AAAC7;

$CONTENT_BGCOLOR: #EEF4F9;

$HEADER_OUTER_BORDER_COLOR: #888;
$HEADER_INNER_BORDER_COLOR: #999;

$TOOLBAR_BG_COLOR: #EEE;

